*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 1200px;
    height: 300px;
    background-color: orangered;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    align-items: center;
  
 
}

.logo{
    width: 400px;
    height: 200px;
    background-image: url(./logo.png);
    background-repeat: no-repeat;
    background-size: 350px;

}

.header>h2{
    font-size:35px;
    color: white;
}
.banner{
    border: 1px solid black;
    width: 1200px;
    height: 500px;
    background-image: url(./banner1.png);  
    background-size: cover;  
    margin: 0 auto;
}






.main{
    width: 1220px;
    height: 800px;
    position: relative;
    margin: 60px auto;

 
}



.head{
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

.head>h1{
    text-align: center;
    margin: 20px 0;
}

.button-head{

   display: flex;
   justify-content: center;

}

button{
    padding: 3px 10px;
    color: white;
    background-color: rgb(213, 60, 60);
    border-radius: 3px;
}

#container{
   background-color: antiquewhite;

   margin-top: 40px;
   width: 600px;
   height: 600px;
   float: left;
   display: flex;
   margin: 3px;

   flex-wrap: wrap;
   justify-content: space-around;
   padding: 5px;
   
}

#container>div{
    width: 110px;
    height: 110px;
    border: 1px solid black;
    background-color: rgb(242, 196, 242);
    
}


#container>div>img{
    width: 100%;
    height: 100%;

}